<%- include('partials/header') %>
    
    <h3>Name:</h3>
    <%= presentuser.username %>
    <h3>Email:</h3>
    <%=  PUD.email%>
    <h3>Phone Number</h3>
    <%= PUD.phonenumber %>
<%- include('partials/footer') %>